
@import './partials/global';
@import './partials/variables';
@import './partials/mixins';
@import './partials/typography';

// Hero
.hero-shows {
    @include hero;
    background-image: linear-gradient(rgba(#323232, 0.5),rgba(#323232, 0.5)),url('../assets/Images/retro-4237850_1920.jpg');
    height: 29.5rem;
    flex-direction: column;
    justify-content: center;

    @include mediaQ($tablet-width){
        height: 41.875rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    &__text--small {
        color: $secondary-text;
    }

    &__text--large {
        color: $secondary-text;

        @include mediaQ($tablet-width){
            width: 37.5rem;
        }
    }
}

.song {
    width: 100%;
    height: 7.25rem;

    &__container {
        max-width: 27.25rem;

        @include mediaQ($desktop-width){
            width: 27.25rem;
            line-height: 4.5rem;
        }
    }
}


//Shows section
.shows {

    @include mediaQ($desktop-width){
        display: flex;
        justify-content: space-between;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include mediaQ($tablet-width){
            flex-direction: column;
        }

        @include mediaQ($desktop-width){
            flex-direction: column;
            width: 50.25rem;
        }
    }

    &-details {
        margin-bottom: 1rem;
        

        @include mediaQ($tablet-width){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
            padding: 1.5rem 0;
        }
    }

    h4, h5, p {
        margin-bottom: 0.75rem;

        @include mediaQ($tablet-width){
            margin-bottom: 0;
        }
    }

    .shows-date, .shows-venue, .shows-location {
        margin-bottom: 1.5rem;
        width: 10rem;

        @include mediaQ($tablet-width){
            margin: 0;
        }
    }

    &-buy-tickets {
        max-width: 20rem;
        margin-bottom: 1rem;

        @include mediaQ($tablet-width){
            width: 10rem;
            margin-bottom: 0;
        }
    }

    &-date-title, .shows-venue-title, .shows-location-title {
        @include mediaQ($tablet-width){
            display: none;
        }
    }

    &-headers {
        display: none;

        @include mediaQ($tablet-width){
            display: flex;
            justify-content: space-between;

            h5 {
                width: 10rem;
            }
        }
    }

    &-button {
        width: 100%;
        height: 3rem;
        background-color: $primary-bckgrnd;
        border-radius: 4px;

        @include mediaQ($tablet-width){
            width: 10rem;
        }

        h2 {
            color: $secondary-text;
            font-size: 1rem;
        }
    }

    &-details {
        border-bottom: 1px solid $divider;
        
        @include mediaQ($tablet-width){
            align-items: center;
        }
    }
}